# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

# Archive for submitting
xpazdi02-xpospi95.zip
xpospi95-xpazdi02.zip
xpazdi02-xpospi95-[0-9][0-9]-[0-9][0-9].zip
xpospi95-xpazdi02-[0-9][0-9]-[0-9][0-9].zip

doc/*
!doc/Doxyfile
qMakefile